.coveragerc
.env
.gitignore.backkup
.idea/
*/__pycache__/
rasa/cli/__pycache__/
rasa/cli/arguments/__pycache__/
rasa/core/__pycache__/
rasa/core/actions/__pycache__/
rasa/core/brokers/__pycache__/
rasa/core/channels/__pycache__/
rasa/core/evaluation/__pycache__/
rasa/core/featurizers/__pycache__/
rasa/core/nlg/__pycache__/
rasa/core/policies/__pycache__/
rasa/core/training/__pycache__/
rasa/engine/__pycache__/
rasa/engine/recipes/__pycache__/
rasa/engine/runner/__pycache__/
rasa/engine/storage/__pycache__/
rasa/engine/training/__pycache__/
rasa/graph_components/__pycache__/
rasa/graph_components/converters/__pycache__/
rasa/graph_components/providers/__pycache__/
rasa/graph_components/validators/__pycache__/
rasa/nlu/__pycache__/
rasa/nlu/classifiers/__pycache__/
rasa/nlu/emulators/__pycache__/
rasa/nlu/extractors/__pycache__/
rasa/nlu/featurizers/__pycache__/
rasa/nlu/featurizers/dense_featurizer/__pycache__/
rasa/nlu/featurizers/sparse_featurizer/__pycache__/
rasa/nlu/selectors/__pycache__/
rasa/nlu/tokenizers/__pycache__/
rasa/nlu/utils/__pycache__/
rasa/shared/__pycache__/
rasa/shared/core/__pycache__/
rasa/shared/core/training_data/__pycache__/
rasa/shared/core/training_data/story_reader/__pycache__/
rasa/shared/core/training_data/story_writer/__pycache__/
rasa/shared/importers/__pycache__/
rasa/shared/nlu/__pycache__/
rasa/shared/nlu/training_data/__pycache__/
rasa/shared/nlu/training_data/formats/__pycache__/
rasa/shared/nlu/training_data/schemas/__pycache__/
rasa/shared/utils/__pycache__/
rasa/shared/utils/schemas/__pycache__/
rasa/utils/__pycache__/
rasa/utils/tensorflow/__pycache__/

rasa/rasa_demo_files_dir/.rasa/
rasa/rasa_demo_files_dir/models/

rasa/rasa_demo_Chapter02/.rasa/
rasa/rasa_demo_Chapter02/models/
rasa/rasa_demo_Chapter02/log
rasa/rasa_demo_Chapter02/.gitignore

rasa/nlu/utils/hugging_face/__pycache__/

#暂时不管
rasa/engine/graph.py
rasa/engine/runner/dask.py
rasa/engine/training/graph_trainer.py
rasa/model_training.py

